{% extends 'ipe_roxo/partials/base.html' %}
{% load static %}

{% block title %}Formulários Enviados{% endblock title %}

{% block content %}
{% include 'ipe_roxo/partials/navbar_colaborador.html' %}

<div class="container my-5">
  <h2 class="card-title text-center mb-4 text-success fw-bold">
    🌱 Formulários Enviados
  </h2>
  <hr>
  {% if messages %}
    <div class="mb-3">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}

  {% if formularios %}
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead class="table-success">
          <tr>
            <th>Nº Registro</th>
            <th>Espécie</th>
            <th>Bairro</th>
            <th>Data de Envio</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for f in formularios %}
            <tr>
              <td>
                <a href="{% url 'detalhe_formulario' f.id %}"      style="color: inherit; text-decoration: none; font-weight: bold;">
                  {{ f.numero_registro }}
                </a>
                
              </td>
              <td>{{ f.especie }}</td>
              <td>{{ f.bairro }}</td>
              <td>{{ f.horario_cadastro|date:"d/m/Y" }}</td>
              <td>
                <a href="#" class="btn btn-sm
                  {% if f.status == 'PENDENTE' %}btn-warning
                  {% elif f.status == 'APROVADO' %}btn-success
                  {% elif f.status == 'CORRECAO' %}btn-danger
                  {% else %}btn-secondary
                  {% endif %}"
                  {% if f.status == 'CORRECAO' and f.motivo_correcao %}
                  data-bs-toggle="tooltip" title="{{ f.motivo_correcao }}"
                  {% endif %}>
                  {{ f.get_status_display }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- Botões -->
      <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'home_colaborador' %}" class="btn btn-outline-danger px-4">
          ❌ Voltar
        </a>
      </div>
    </div>
    
  {% else %}
    <div class="alert alert-info text-center">
      Nenhum formulário enviado ainda.
    </div>
  {% endif %}
</div>
{% endblock %}